/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}












.layout-container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}









.hero h1 {
  -webkit-text-stroke: 1px #555;
  color: #b19151;
  text-shadow:
      2px 2px 0 #143433,
    0 -1px 0 #143433,  
     1px -1px 0 #143433,
     -1px 1px 0 #143433,
      1px 1px 0 #143433;

}

.hero h2 {
  font-size: 22px;
  color: #eee;
}

.nav h2 a {
  display: block;
  background-image: url('../img/logo.png');
  background-size: cover;
  width: 234px;
  height: 180px;
}



.item-container .flex-container h2 {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px;
  letter-spacing: 0.02em;
}
.item-container .flex-container p {
  font-size: 14px;
}

.index-image {
  width: 100px;
}

.test2 div.test1.index-image-holder {
  background-size: cover;
  background-position:center;
  height: 120px;
  width: 100%;
  margin: 0 0 10px;
}

div.test2 {
  padding: 1px;
  border: 1px solid #999;
  cursor: pointer;
}

div.test2:hover {
  border: 1px solid #f8edc2;
  background-color: #f8edc2 !important;
}

div.test2 a:hover {
  background-color: #f8edc2;
  display: block;
}












section.odyessy .container.main {
  position: absolute;
  top: 10vh;
  background-color: #fff;
  border: 1px solid #333;
  text-align: center;
  width: 90vw;
}
























@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	margin-bottom: 35px;
  padding: 0 20px;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 10px 0;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}










.blockquote-container {
  position: absolute;
  bottom: 0;
  left: 10%;
  max-width: 300px;
}


blockquote {
  font-family: 'Special Elite', cursive;
	font-weight: 100;
	font-size: 24px;
	line-height: 1.4;
	position: relative;
	margin: 0 auto 20px;
  padding: 10px 24px 10px 24px;
  color: #f7e294;


  -webkit-text-stroke: 1px #aaa;
  color: #f7e294;
  text-shadow:
      1px 1px 0 #666,
    0px -1px 0 #666,  
     1px 0px 0 #666,
     -1px 0px 0 #666,
      1px 1px 0 #666;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f7e294;
	font-size: 5rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -30px;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -30px;
	bottom: 1rem;
}

cite {
	line-height: 1;
  text-align: left;
  font-family: 'Special Elite', cursive;
  margin: 0 auto;
  color: #b19151;
  font-size: 26px;

  -webkit-text-stroke: 1px #aaa;
  color: #f7e294;
  text-shadow:
      1px 1px 0 #666,
    0px -1px 0 #666,  
     1px -1px 0 #666,
     -1px 1px 0 #666,
      1px 1px 0 #666;
}





/*----------------
 	Hero Section
----------------*/


/* ********** 0px + ************************************ */



@media (min-width: 1px){

  .odyessy .content {
    margin-top: 50px;
  }

  .odyessy .content p {
    margin: 0 auto;
  }


  .race-details{
    background-color: #f1e4aa;
    padding: 25px 0;
  }
  .race-details:nth-child(odd) {
    background-color: #faebb7;
  }

  

.race-details h2 {
  font-size: 18px;
}

.race-details .table-headers td {
  border-bottom: 0;
  padding-bottom: 0;
}

.race-details .table-headers span {
  font-size: 12px;
  color: #333;
  font-weight: bold;
}










  .us-state-map {
    width: 90vw;
    margin: 0 auto;
  }

  .container.content {
    margin-top: 120px;
  }

  .nav {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }

  .nav h2 a {
    width: 160px;
    height: 123px;
    position: absolute;
    top: 10px;
  }

  .nav nav {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 100vw;

  }

  header.nav nav li {
    margin: 0 auto;
    padding: 10px;
  }

  .nav nav li a {
    font-size: 20px;
  }


  .test2 h2 {
    text-transform: uppercase;
  }

  .item-container {
    position: absolute;
    top: 150px;
    height: 100vh;
    width: 100%;
    padding: 0 30px;
    background-color: rgba(255,255,255,0.35);
    z-index: 100;
  }
  
  .item-container .flex-container {
    display: flex;
  }
  
  .item-container .flex-container div {
    width: 32%;
    margin: 0 10px;
    background-color: #fff;
  
  }

  .blockquote-container cite {
    display: none;
  }





  .flex-container {
    flex-direction: column;
  }

  .item-container .flex-container .test2 {
    width: 100%;
    margin-bottom: 10px;
  }

  .item-container .flex-container h2 {
    font-size: 14px;
  }

  

  .hero{
    position: relative;
    justify-content: center;
    padding-bottom: 200px;
    margin-bottom: 50px;
    min-height: 100vh;
    color: #fff;
    text-align: center;
  }
  
  .hero .background-image {
    background-image: url('../img/ann_and_dog-min.jpg');
    position: absolute;
    top: 0;
    left: -160px;
    width: 1024px;
    height: 100vh;
    background-size: cover;
    z-index: -1;
  }
  
  .hero .background-image:after{
    content: '';
    position: absolute;
    top: 0;
    left: -160px;
    width: 100%;
    height: 100%;
    background-color: #438ff0;
    opacity: 0;
  }

}




















/* ********** 800px + ************************************ */




@media (min-width: 800px){


  section.odyessy .container.main {
    position: absolute;
    top: 10vh;
    background-color: #fff;
    border: 1px solid #333;
    text-align: center;
    width: 70vw;
  }
  

  .blockquote-container cite {
    display: block;
  }


  .nav nav {
    display: none;
  }

  .nav {
    height: auto;
  }

  .nav h2 a {
    width: 160px;
    height: 123px;
    position: absolute;
    top: 0;
  }


  .item-container {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0 30px;
    width: auto;
  }
  
  .item-container .flex-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
  }
  
  .item-container .flex-container div {
    width: 100%;
    margin: 0 10px 20px;
    background-color: #fff;
  
  }

  .item-container .flex-container h2 {
    font-size: 18px;
  }

  .item-container .flex-container p {
    font-size: 14px;
  }



.hero{
	position: relative;
  justify-content: center;
  padding-bottom: 200px;
  margin-bottom: 50px;
	min-height: 100vh;
	color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  max-width: 1600px;
}

.hero .background-image {
  background-image: url('../img/ann_and_dog-min.jpg');
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  max-width: 1600px;
	height: 100vh;
	background-size: cover;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #438ff0;
	opacity: 0;
}

}














/* ********** 1200px + ************************************ */


@media (min-width: 1200px){



  section.odyessy .container.main {
    position: absolute;
    top: 10vh;
    background-color: #fff;
    border: 1px solid #333;
    text-align: center;
    width: 80vw;
  }

  .blockquote-container {
    max-width: 500px;
  }

  blockquote {
    font-size: 30px;
  }

  blockquote:before,
  blockquote:after {
    font-size: 6rem;
  }

  .nav nav {
    display: none;
  }
  .nav h2 a {
    width: 234px;
    height: 180px;
  }


  .item-container {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0 30px;
    width: auto;
  }
  
  .item-container .flex-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 20px;
  }
  
  .item-container .flex-container div {
    width: 100%;
    margin: 0 10px 20px;
    background-color: rgba(255,255,255,0.7);
  
  }

  .item-container .flex-container h2 {
    font-size: 22px;
    padding-bottom: 5px;
  }

  .item-container .flex-container p {
    font-size: 18px;
  }


.hero{
	position: relative;
  justify-content: center;
  padding-bottom: 200px;
  margin-bottom: 50px;
	min-height: 100vh;
	color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.hero .background-image {
  background-image: url('../img/ann_and_dog-min.jpg');
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  max-width: 1600px;
	height: 100vh;
	background-size: cover;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #438ff0;
	opacity: 0;
}

}

























.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
  margin-bottom: 15px;
  padding-bottom: 70px; 
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn{
	padding: 20px 46px;
}















@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}



/*--------------------
 	Our Work Section
---------------------*/

.оur-work{
	background-color: #fff;
}

.our-work .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.our-work .grid li.small{
	flex-basis: 40%;
}

.our-work .grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}

}



/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #f7f7f7;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	Reviews Section
--------------------*/

.reviews{
	background-color: #fff;
}

.reviews .quote{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.reviews .quote{
		font-size: 20px;
	}

	.reviews .author{
	    font-size: 16px;
	}

}



/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: #f7f7f7;
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact form .btn{
	padding: 18px 42px;
}


@media (max-width: 800px){

	.contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}



/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}